body {
    margin: 0;
    font-family: 'Inter', sans-serif;
  /* border: 1px solid red;*/


}
:root{ 
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook:     #168ef4;
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear gradient hsl(37, 97% 70%);--instagram-2: hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
    --gray:#b9bea7;
    --cardGray: #f0f3fa
}
.wraper {
    padding: 0 40px;
}

.grid {
    display: grid; 
    grid-row-gap: 28px;
}
.dark-mode {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}
.checkbox {
    display: none;
}
.checkbox:checked ~ .switch::before{
/*border: 1px solid red;*/
transform: translateX(0);
}
.switch {
    /*border: 1px solid red;*/
    height: 40px;
    display: block;
    border-radius: 20px;
    background: var(--gray);
    width: 80px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

}
.switch::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: white;
    margin-top: 5pxs;
    border-radius: 50%;
    transform: translateX(40px);
    transition: .3s;
    will-change: transform;
}

.header {
    background: #f8f9fe;
    padding-bottom: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: 2em;
}

.header-total {
    color: var(--gray);
    margin: .5em 0 ;
    font-weight: 500;
    border-bottom: 2px solid var(--gray);
    padding-bottom: 1.5em;

}
h1 { margin: 0%;
    font-size: 1.7em;

}
.top-cards {
    margin-top: -50px;
    margin-bottom: 3em;
}
.card {
    border-radius: 8px;
    overflow: hidden;
    background: var(--cardGray);
    text-align: center;
    padding: 1.7em 0;
    position: relative;

   
}
.card:before {
content: "";
height: 4px;
display: block;
position: absolute;
left: 0;
right: 0;
top: 0;
}
.card.facebook::before {
    background: var(--facebook);


}

.card.twitter::before {
    background: var(--twitter);
}

.card.instagram::before {
    background-image: linear-gradient(to right,red 0%, blue  100%);

}

.card.youtube::before {
    background: var(--youtube);
}
.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6f717e;
    font-size: .9em;
    font-weight: bold;
}
.card-title img {
    margin-right: 5px;
}


.card-followers-number {
    font-size: 50px;
    font-weight: 700px;

}

.card-followers-title {
    display: block;
    text-transform: uppercase;
    color: var(--gray);
    letter-spacing: 5px;
    font-size: .75em;
    
   }

   .card-today {
    margin-top: 20px;
    color:var(--lime-green);
    font-size: .7em;
    font-weight: bold;
    
   }
   .card-today img {
    height: 12px;
    margin-right: 3px;
   }

   .overview {
    padding-bottom: 2em;
   }
   h2 {
    color: var(--gray);
   }
   .card-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    background: #f0f3fa;
    border-radius: 8px;
    padding: 1.7em;



   }
   .card-small p {
    margin: 0;
   }

   .card-small-container {
    display: flex;
    justify-content: space-between;

   }
   .card-small-views {
    color: var(--gray);
    font-weight: bold;
    font-size: .8em;
   }
   .card-small-icon {
   text-align: right;

   }
   .card-small-number {
    text-align: left  ;
    font-weight: bold;
    font-size: 2.3em;


   }
   .card-small-percentage {
   text-align:right;
   display: flex;
   color: var(--lime-green);
   font-size: .9em;
   font-weight: bold;
   align-items: flex-end;
   justify-content: flex-end;
   }
   .card-small-percentage.is-danger {
    color: var(--bright-red);

   }

   @media screen and  (min-width: 480px) {
    .grid { 
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
   }

   
   @media screen and  (min-width: 768px) {
    .grid { 
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }
   }

   @media screen and  (min-width: 1024px) {
    .grid { 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }

   }
   .header-total {
    border: none;
   }
   .header-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
}

   @media (prefers-color-scheme: dark) {
    body {
        background: #1d2029;
        color: white;

    }
   }
.header {
    background: #1d2029;
}
   :root {
    --cardGray: #252b43;
    --gray: #8088ad;
   }
   .card-small {
    background:#252b43 ;
   }
   .switch {
    background-image: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
   }

   .switch::before {
    background: #282943;
   }



    
       
       
       